# Ignore everything by default
*

# Track only workspace config
!.gitignore
!CLAUDE.md
!README.md
!LICENSE
!.github/
!.github/**
!.markdownlint.jsonc
!.lycheeignore
!Project/
!Project/pClaude/
!Project/pClaude/playground/
!Project/pClaude/playground/CLAUDE.md
!Project/pClaude/playground/.gitignore
!Project/pClaude/playground/package.json
!Project/pClaude/playground/package-lock.json
!Project/pClaude/playground/server.js
!Project/pClaude/playground/public/
!Project/pClaude/playground/public/**
